.header {
    background: white;
}

.header__inner {
    width: 1512px;
    height: 100px;
    text-align: center;
    border: 1px solid #E0DFDE
}

.header__logo {
    font-family: Inika;
    font-size: 40px;
    font-weight: 400;
    line-height: 52.12px;
    color: #8B7969;
}